$mloaded = 1;
@categoryorder = qw(general staff);
$cat{'staff'} = ['announcements', 'recycle'];
$cat{'general'} = ['general', 'test'];
$catinfo{'staff'} = ['Forum Staff', 'Administrator/Global Moderator', '1', '', '0'];
$catinfo{'general'} = ['General Category', '', '1', '', '0'];
$board{'announcements'} = ['Global Announcements', '', ''];
$board{'general'} = ['General Board', '', '1'];
$board{'test'} = ['Test Zone', '', ''];
$board{'recycle'} = ['Recycle Bin', '', ''];

1;