/*--------------------------------------------------------*/
/*                      YaBB 2012                         */
/*--------------------------------------------------------*/
/*      Created by: YaBB http://www.yabbforum.com         */
/*--------------------------------------------------------*/
/*    You may adapt elements of this CSS in your own      */
/*   projects, but please give credit to yabbforum.com.   */
/*--------------------------------------------------------*/
/*   This is the css file for YaBB 2.5.4 default Template */
/*--------------------------------------------------------*/
/* $Revision: 1.5 $ */

body {
background-color:#F2F6F9;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:12px;
margin-left:0;
margin-right:0;
margin-top:5px;
min-width:770px;
padding:0;
}

a {
color:#336;
font-weight:400;
text-decoration:none;
}

a:hover {
color:#000;
text-decoration:underline;
}

a:visited {
color:#336;
font-weight:400;
}

form {
display:inline;
margin:0;
padding:0;
}

img {
border:0 none;
vertical-align:middle;
}

input,.button {
background-color:#F1F2F4;
border:1px solid #B1BDC9;
color:#000;
font-size:12px;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-weight:400;
}

select {
background-color:#E8EBEF;
border:1px solid #B1BDC9;
color:#000;
font-size:10px;
}

select optgroup {
color:#000;
font-size:10px;
}

table {
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
width:100%;
}

td {
text-align:left;
vertical-align:middle;
}

table.cs_thin{
border-collapse:separate;
border-spacing: 1px;
}

textarea {
background-color:#E8EBEF;
border:1px solid #B1BDC9;
color:#000;
font-size:12px;
}

#maincontainer {
border-top:0;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
padding:0;
width:1100px;
}

#container {
background-color:#9CB9F3;
border:0;
color:#003;
margin:0;
padding:0 1px;
width:100%;
}

.center {
text-align:center;
}

.right {
text-align:right;
}

.left {
text-align:left;
}

.vtop {
vertical-align:top;
}

.bottom {
vertical-align:bottom;
}

.small {
font-size:10px;
}

.green {
display:none;
}

.tabtitle {
background-color:#5488c1;
background-image:url(./default/catbg.png);
background-position: top;
background-repeat: repeat-x;
color:#FFF;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:700;
}

.tabtitle a {
color:#FFF;
font-size:11px;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.tabtitle a:hover {
color:#900;
text-decoration:underline;
}

.nav a:hover {
color:#900;
text-decoration:underline;
}

.menutop {
background-color:#9CB9F3;
background-image:url(./default/menutop.png);
height:24px;
text-align:left;
}

.mainbottom {
background-color:#9CB9F3;
background-image:url(./default/grad_bottom.png);
height:22px;
text-align:left;
width:100%;
}

.tabmenuleft {
background-color:#9CB9F3;
background-image:url(./default/tableft211.png);
background-repeat:no-repeat;
height:24px;
text-align:left;
}

.tabmenuright {
background-color:#9CB9F3;
background-image:url(./default/tabright211.png);
background-repeat:no-repeat;
height:24px;
text-align:left;
}

.tabmenu {
background-color:#9CB9F3;
background-image:url(./default/tab211.png);
font-size:11px;
height:24px;
text-align:left;
}

.tabmenu span {
background-color:#9CB9F3;
background-image:url(./default/tab211.png);
background-repeat:repeat-x;
border:0;
cursor:pointer;
float:left;
font-size:11px;
height:24px;
margin:-1px 0;
padding:1px 0;
text-align:center;
vertical-align:middle;
}

.tabmenu span a {
color:#003;
font-size:11px;
font-weight:400;
text-decoration:none;
white-space:nowrap;
}

.tabmenu span.selected {
background-color:#9CB9F3;
background-image:url(./default/tab_selected211.png);
background-repeat:repeat-x;
font-weight:400;
font-size:11px;
}

.tabmenu span a:hover,.QuickLinks a:hover {
text-decoration:none;
}

.rightbox {
background-color:#9CB9F3;
background-image:url(./default/searchbg211.png);
background-repeat:repeat-x;
color:#003;
font-size:11px;
font-style:normal;
font-weight:400;
height:24px;
text-align:center;
text-decoration:none;
}

.usermenu {
border:1px #88A8E0 outset;
border-bottom:0;
border-left:0;
border-top:0;
height:24px;
margin-left:auto;
margin-right:auto;
width:96%;
}

.usercontainer {
background-color:#88A8E0;
border:1px #88A8E0 outset;
border-top:0;
margin-left:auto;
margin-right:auto;
padding:12px 2% 20px;
width:92%;
}

.containerbg {
background-color:#9CB9F3;
}

.copyright {
color:#62686F;
font-size:11px;
font-weight:700;
text-align:center;
}

.copyright a {
color:#336;
font-size:11px;
font-weight:700;
text-align:center;
}

.newsfader {
background-color:#FEFEFE;
color:#304B58;
font-size:10px;
font-style:normal;
font-weight:400;
text-decoration:none;
min-height:20px;
}

#fscroller {
line-height:130%;
min-height:20px;
}

.useronline {
color:#2E8B57;
font-weight:700;
}

.useroffline {
color:#7B68EE;
font-weight:700;
}

.useraway {
color:#6078B0;
font-weight:700;
}

.nav, .nav a, .nav a:visited {
color:#003;
font-size:10px;
font-weight:700;
text-decoration:none;
}

.QuickLinks {
background-color:#DDD;
border:1px;
border-color:#000;
border-style:solid;
display:none;
list-style:none;
margin-left:0;
margin-top:15px;
padding:0;
position:absolute;
text-indent:0;
}

.QuickLinks li {
background-color:#EEE;
font-size:10px;
list-style:none;
margin-left:0;
padding:3px;
text-indent:0;
white-space:nowrap;
}

.QuickLinks li:hover {
background-color:#FFF;
}

.windowbg {
background-color:#DEE4EC;
color:#304B58;
font-size:12px;
font-style:normal;
font-weight:400;
}

.windowbg2 {
background-color:#FEFEFE;
color:#304B58;
font-size:12px;
font-style:normal;
font-weight:400;
}

.dividerbot {
border-bottom:1px #A7B8CC solid;
}

.dividertop {
border-top:1px #A7B8CC solid;
}

.hr {
background-color:#6078B0;
border:0 solid #6078B0;
border-top:0 solid #6078B0;
color:#6078B0;
height:1px;
}
.hr_s {
background-color:#6078B0;
border:0 solid #6078B0;
border-top:0 solid #6078B0;
color:#6078B0;
height:1px;
width:40%
text-align:left;
}
.bordercolor {
background-color:#B1BDC9;
font-size:12px;
}

.border {
border:thin solid #B1BDC9; }
.top {
color:#475F79;
font-size:11px;
font-style:normal;
}

.titlebg {
background-color:#6078B0;
color:#FFF;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.catbg {
background-color:#88A0C8;
color:#FFF;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.titlebg a,.catbg a {
color:#FFF;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.titlebg a:hover,.catbg a:hover {
text-decoration:underline;
}

.message, #message{
color:#62686F;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:8pt;
font-style:normal;
font-weight:400;
text-decoration:none;
}

.message a,  {
background-color:transparent;
color:#900000;
font-style:normal;
font-weight:400;
text-decoration:none;
}

.message a:hover {
background-color:transparent;
color:#000;
text-decoration:underline;
}

.droppageindex {
background-color:#FFF;
border:2px inset;
color:#000;
float:left;
font-family:Verdana, Sans-Serif;
margin:0;
padding:0 0 0 4px;
}

.droppages {
height:14px;
padding-left:1px;
padding-right:1px;
}

.droppages a {
color:#000;
font-size:9px;
font-weight:400;
}

.highlight {
background-color:#FF3;
color:#000;
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:700;
}

.imgbg {
color:#FFF;
font-size:10px;
font-style:normal;
}

.imgcatbg {
color:#000;
font-size:10px;
font-style:normal;
font-weight:700;
}

.imgtitlebg {
color:#FFF;
font-size:10px;
font-style:normal;
font-weight:700;
}

.imgwindowbg {
color:#005177;
font-size:9px;
font-style:normal;
}

.imgmenu {
color:#000;
font-size:11px;
font-style:normal;
font-weight:700;
}

.quote {
background-color:#E8EBEF;
border:1px #34689A solid;
color:#000;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.code {
background-color:#CCC;
border:1px #34689A solid;
color:#000;
font-family:Courier, Courier New, Serif;
font-size:14px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.editbg {
background-color:#FFFEDF;
border:1px #c00 solid;
color:#000;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.forumjump {
background-color:#F5F5DC;
border-bottom:1px dashed #D6B2FF;
border-top:1px dashed #D6B2FF;
color:#000;
font-weight:700;
}

.forumjumpcat {
background-color:#FFFEDF;
border-bottom:1px dashed #D6B2FF;
border-top:1px dashed #D6B2FF;
color:#000;
}

.forumjumpcatm {
background-color:#EEE8AA;
color:#000;
font-style:italic;
}

.forumjumpcatmf {
background-color:#EEE8AA;
border-bottom:1px dashed #C5AAEE;
color:#000;
font-style:italic;
}

.forumcurrentboard {
background-color:#F0FFF0;
color:#000;
font-weight:700;
}

#PMcontainer {
background-color:#9CB9F3;
border:0;
float:left;
margin-bottom:10px;
padding:0;
width:100%;
}

.topline {
border-top:1px solid #34689A;
}

.topheader {
background:#4981B8;
margin-bottom:10px;
}

.boardcontainer {
background-color:#BBB;
border:0;
}

.displaycontainer {
background-color:#BBB;
padding:1px;
width:100%;
}

.navbarcontainer {
margin:0;
}

/* postbox, post, PM, calendar */
#dragcanvas {
border:0;
left:0;
position:relative;
top:0;
z-index:1;
}
#usersto {
width: 98%; display: inline; float: left;
}
#userscc, #usersbcc {
width: 98%; display: none; float: left;
}

textarea#message {
position: absolute; top: 0px; left: 0px; z-index: 2; padding: 5px; margin: 0px; visibility: visible;
}

div#dragbgw {
position: absolute; top: 0px; left: 437px; width: 3px; border: 0; z-index: 3;
}
div#dragbgh {
position: absolute; top: 142px; left: 0px; height: 3px; border: 0; z-index: 3;
}

img#dragImg1 {
position: absolute; top: 0px; z-index: 4; width: 3px; cursor: e-resize;
}
img#dragImg2 {
position: absolute; left: 0px; z-index: 4; height: 3px; cursor: n-resize;
}

.deftpal {
border:0;
cursor:pointer;
float:left;
font-size:5px;
height:9px;
margin-bottom:1px;
margin-right:1px;
width:10px;
}

.npf_txt {
font-size:9px;
margin:3px 0 0;
padding:0;
text-align:center;
width:56px;
}

div.textdecor {
float:left;
width:115px;
}

div.fontface {
float:left;
text-align:center;
width:139px;
}

div.palettebox {
float:left;
height:20px;
margin-top:1px;
padding-left:1px;
padding-top:1px;
width:66px;
}

div.palbox_left {
float:left;
height:22px;
width:91px;
}

div.palbox_right {
float:right;
height:22px;
padding-left:1px;
width:23px;
}

div#bullets {
background-color:#CCC;
border:1px solid #666;
display:none;
left:345px;
padding:2px;
position:absolute;
text-align:center;
top:-22px;
width:63px;
}

#bullets img {
background-color:#CCC;
cursor:pointer;
height:8px;
margin:3px;
width:8px;
}

div#codelang {
background-color:#CCC;
display:none;
left:230px;
padding:0;
position:absolute;
top:-22px;
width:92px;
}

div#codesyntax {
font-size:9px;
margin:0;
width:92px;
}

#fontface {
font-size:9px;
margin-left:2px;
margin-right:1px;
margin-top:2px;
width:90px;
}

#fontsize {
font-size:9px;
margin-left:1px;
margin-right:2px;
margin-top:2px;
width:39px;
}

div.txtalgn {
float:left;
width:92px;
}

.leftleft {
float:left;
text-align:left;
}

div.left99 {
float:left;
width:99%;
}

div.left440 {
float:left;
width:440px;
}

div.left437 {
float:left;
width:437px;
}

div.chrwarn {
float:left;
text-align:left;
width:315px;
}

div.chrsize {
float:left;
text-align:right;
width:127px;
}

input.chrwarn {
background-color:#FEFEFE;
border:0;
color:#304B58;
font-size:11px;
font-style:normal;
font-weight:400;
padding:1px;
width:40px;
}

input.chrsize {
background-color:#FEFEFE;
border:0;
color:#304B58;
font-size:11px;
font-style:normal;
font-weight:400;
padding:1px;
width:15px;
}

div#spell_container {
float:left;
}

/* height, width, padding */

table.pad_2px td, .padd_2px {
padding: 2px;
}
table.pad_3px td, .padd_3px {
padding: 3px;
}
table.pad_4px td, .padd_4px {
padding: 4px;
}

table.pad_8px td, .padd_8px {
padding: 8px;
}

table.pad_0 td, .padd_0 {
padding:0;
}


.h_18px {
height:18px;
}

.h_15px {
height:15px;
}
.h_20px {
height:20px;
}
.h_22px {
height:22px;
}
.h_23px {
height:23px;
}
.h_25px {
height:25px;
}
.h_30px {
height:30px;
}
.h_40px {
height:40px;
}
.h_50px {
height:50px;
}
.h_60px
height:60px;
}
.h_70px {
height:70px;
}
.h_80px {
height:80px;
}

#ImageAlert {
visibility:hidden; position:fixed; background-color:#AAAAAA; width:200px; top:30%; left:41%;
}

.yabb_rss {
float: left; width: 40px; height: 18px; text-align: center; padding-top: 6px; display: inline;
}

.yabb_searchbox {
float: left; width: 160px; height: 21px; text-align: center; padding-top: 3px; display: inline;
}

.yabb_main {
width: 96%; margin-left: auto; margin-right: auto; text-align: left;
}

.yabb_forumjump {
width: 96%; margin-left: auto; margin-right: auto; text-align: right; padding-top: 10px;
}

.clear {
clear:both;
}

.ongif {
margin-left: 4px; margin-right: 6px; vertical-align: middle;
}

.grpcolors {
font-size:10px;
float: left; width: 49%;
}
.mctitle {
float: left; width: 100%; height: 21px; text-align: center; padding-top: 3px;
}

.pgindex {
float: left; height: 21px; margin: 0px; margin-top: 2px;
}

.bold {
font-wight:bold;
}
.under, .u {
text-decoration:underline;
}