/*--------------------------------------------------------*/
/*           YaBB 2012                                    */
/*--------------------------------------------------------*/
/*   Created by: YaBB http://www.yabbforum.com            */
/*--------------------------------------------------------*/
/*  You may adapt elements of this CSS in your own        */
/*  projects, but please give credit to yabbforum.com.    */
/*--------------------------------------------------------*/
/*  This is the css file for YaBB 2.5.4 default Template  */
/*--------------------------------------------------------*/
/* $Revision$                                      */

body {
background-color:#EEE;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:12px;
margin:0;
padding:0;
min-width:770px;
}

a {
color: #3B5998;
font-weight:400;
text-decoration:none;
}

a:visited {
color:#3B5998;
font-weight:400;
}

a:hover {
color:#2D2D2D;
text-decoration:underline;
}

a:focus, input:focus, textarea:focus, select:focus {
outline:0;
}

#header {
font-size:12px;
font-weight:normal;
font-style:normal;
font-family:Verdana, Helvetica, Sans-Serif;
color:#EEE;
background-color:#4378AE;
}

#header a {
color:#2D2D2D;
}

#header .highlight a {
color: #3B5998;
} 

form {
display:inline;
margin:0;
padding:0;
}

img {
border:0 none;
vertical-align:middle;
}

input {
background-color:#EEE;
border:1px solid #B1BDC9;
color:#000;
font-family:Verdana, Helvetica, Sans-Serif;
font-size:12px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:5px;
}

sup {
vertical-align: baseline;
position: relative;
top: -0.4em;
}

.button, [type=submit], [type=reset], [type=button] {
background-color:#F8G8F8;
border:1px solid #C6C6C6;
color:#000;
font-family:Verdana, Helvetica, Sans-Serif;
font-size:12px;
font-weight:600;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
cursor:pointer;
}

textarea {
background-color:#EEE;
border:1px solid #B1BDC9;
color:#000;
font-family:Verdana, Helvetica, Sans-Serif;
font-size:12px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

select {
background-color:#EEE;
border:1px solid #B1BDC9;
color:#000;
font-family:Verdana, Helvetica, Sans-Serif;
font-size:10px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:5px;
}

select optgroup {
color:#000;
font-size:10px;
}

input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
background-color:#F5F5F5;
}

.button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
background-color:#FFF;
}

label {
cursor:pointer;
}

table {
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
width:100%;
}

td {
text-align:left;
vertical-align:middle;
}

table.cs_thin{
border-collapse:separate;
border-spacing:1px;
}

#maincontainer {
border-top:0;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
padding:0;
width:92%;
}

#container {
width:100%;
background-color:#FFF;
border:0px;
margin:0px;
padding:0 1px;
color:#000033;
}

.center {
text-align:center;
}

.right {
text-align:right;
}

.left {
text-align:left;
}

.vtop {
vertical-align:top;
}

.bottom {
vertical-align:bottom;
}

.small {
font-size:10px !important;
}

.green, .none {
display:none;
}

.tabtitle-text {
text-shadow:#2D2D2D 1px 1px 1px;
}

.tabtitle {
height:35px;
vertical-align:middle;
padding-left:0.5em;
font-weight:bold;
font-style:normal;
font-size:12px;
font-family:Verdana, Arial, Sans-Serif;
color:#EEE;
background:url(./default/tabtitle.png) repeat-x top #1F6EB6;
border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
border-bottom:1px solid #195392;
}

.tabtitle-sub {
height:15px;
vertical-align:middle;
padding-left:0.5em;
font-weight:bold;
font-style:normal;
font-size:12px;
font-family:Verdana, Arial, Sans-Serif;
color:#EEE;
background:url(./default/tabtitle.png) repeat-x top #1F6EB6;
} 

.tabtitle-profile {
vertical-align:middle;
padding-left:0.5em;
font-weight:bold;
font-style:normal;
font-size:12px;
font-family:Verdana, Arial, Sans-Serif;
color:#EEE;
background:url(./default/tabtitle.png) repeat-x top #1F6EB6;
} 

.tabtitle-profile td {
height:35px;
}

.tabtitle-bottom {
height:35px;
vertical-align:middle;
padding-left:0.5em;
font-weight:bold;
font-style:normal;
font-size:12px;
font-family:Verdana, Arial, Sans-Serif;
color:#EEE;
background:url(./default/tabtitle.png) repeat-x top #1F6EB6;
border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
-moz-border-radius:0px 0px 5px 5px;
border-top:1px solid #195392;

}

.tabtitle a, .tabtitle-bottom a, .tabtitle-profile a {
color:#FFF;
font-size:12px;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.tabtitle a:hover, .tabtitle-bottom a:hover {
color:#BBB;
text-decoration:none;
}

.menutop {
height:25px;
background-color:#6499D0 ;
font-weight:bold;
text-align:left;
color:#2D2D2D;
}

.mainbottom {
height:25px;
width:100%;
background-color:#2D2D2D;
font-weight:bold;
font-size:10px;
color:#BBB;
margin-top:10px;
padding-top:1em;
vertical-align:middle;
text-align:left;
}

.mainbottom a, .mainbottom span {
font-weight:bold;
font-size:10px;
color:#FFF;
}

.mainbottom a:hover, .mainbottom span:hover {
color:#BBB;
text-decoration:none;
}

.tabmenuleft, .tabmenuright, .tabmenu {
height:25px;
text-align:left;
background-color:#2D2D2D;
font-size:12px;
font-family:Arial, Sans-Serif;
color:#BBB;
font-weight:bold;
text-decoration:none;
}

.tabmenu {
overflow:hidden;
}

.tabmenu ul {
list-style:none;
display:block;
margin:0 0 0 -41px;
}

.tabmenu li, .mctabmenu li {
float:left;
font-size:100%;
font-weight:bold;
list-style:none;
margin-left:-1px;
padding:0;
}

.tabmenu a, .mctabmenu a {
font-size:12px;
font-family:Arial, Sans-Serif;
color: #BBB;
white-space:nowrap;
font-weight:bold; 
display:block;
float:left;
margin:0 1px 0 0;
padding:4px 8px;
text-align:center;
text-decoration:none;
}

.tabmenu span, .mctabmenu span {
float:left;
height:25px;
background-color:#2D2D2D;
margin:0;
border:0;
padding:0;
vertical-align:middle;
text-align:center;
cursor:pointer;
}

.tabmenu span a, .mctabmenu span a {
font-size:12px;
font-family:Arial, Sans-Serif;
color: #BBB;
text-decoration:none;
white-space:nowrap;
font-weight:bold;
}

.tabmenu span a:hover, .mctabmenu span a:hover {
color:#FFF;
height:25px;
font-weight:bold;
text-decoration:none;
}

.tabmenu span.selected, .tabmenu span.selected a, .mctabmenu span.selected, .mctabmenu span.selected a {
color:#FFF;
font-weight: bold;
}

.QuickLinks a:hover {
text-decoration:none;
}

.rightbox {
height:25px;
background-color:#2D2D2D;
color: #BBB;
text-align:center;
font-size:11px;
font-weight:bold;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
text-decoration:none;
}

.copyright {
color:#2D2D2D;
font-size:11px;
font-weight:400;
text-align:center;
}

.copyright a {
color:#3B5998;
font-size:11px;
font-weight:400;
text-align:center;
}

.newsfader {
background-color:#FEFEFE;
color:#304B58;
font-size:10px;
font-style:normal;
font-weight:400;
text-decoration:none;
min-height:20px;
}

#fscroller {
line-height:130%;
min-height:20px;
}

.useronline {
background: url(./default/user_online.png) no-repeat;
padding-left: 15px;
color:#2E8B57;
font-weight:700;
}

.useroffline {
background: url(./default/user_offline.png) no-repeat;
padding-left: 15px;
color:#7B68EE;
font-weight:700;
}

.useraway {
background: url(./default/user_away.png) no-repeat;
padding-left: 15px;
color:#6078B0;
font-weight:700;
}

.nav, .nav a, .nav a:visited {
color:#2D2D2D;
font-size:10px;
font-weight:700;
text-decoration:none;
}

.nav a:hover {
color:#3B5998;
text-decoration:underline;
}

.QuickLinks {
background-color:#DDD;
border:1px;
border-color:#195392;
border-style:solid;
display:none;
list-style:none;
margin-left:0;
margin-top:15px;
padding:0;
position:absolute;
text-indent:0;
min-width:12.5em;
font-style:normal;
}

.QuickLinks li {
background-color:#EEE;
font-size:10px;
list-style:none;
margin-left:0;
padding:3px;
text-indent:0;
white-space:nowrap;
}

.QuickLinks li:hover {
background-color:#D8DFEA;
}

.windowbg {
background-color:#DEE4EC;
font-size:12px;
font-weight:400;
font-style:normal;
color:#2D2D2D;
}

.windowbg2 {
background-color:#EDEFF4;
font-size:12px;
font-style:normal;
font-weight:400;
color:#2D2D2D;
}

.dividerbot {
border-bottom:1px #FFF solid !important;
} 

.dividertop {
border-top:1px #FFF solid;
}

.hr {
background-color:#A7B8CC;
border:0 solid #A7B8cc;
border-top:0 solid #A7B8CC;
color:#6078B0;
height:1px;
}
.hr2 {
background-color:#fff;
border:0 solid #fff;
border-top:0 solid #fff;
color:#fff;
height:1px;
}

.hr_s {
background-color:#A7B8CC;
border:0 solid #A7B8CC;
border-top:0 solid #A7B8CC;
color:#A7B8CC;
height:1px;
width:40%
text-align:left;
}

.bordercolor {
background-color:#FFF;
font-size:12px;
}

.border {
border:thin solid #B1BDC9;
}

.top {
color:#475F79;
font-size:11px;
font-style:normal;
}

.titlebg {
font-size:11px;
font-weight:bold;
font-style:normal;
text-decoration:none;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
color:#3B5998;
background-color:#D7DBEA;
}

.titlebg a {
font-weight:bold;
font-style:normal;
text-decoration:none;
color:#2D2D2D;
}

.catbg {
font-size:11px;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
color: #EEE;
background-color: #195392;
}

.catbg a {
color:#FFF;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.selected-bg {
font-size:11px;
font-weight:700;
font-style:normal;
text-decoration:none;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
color: #EEE;
background-color: #4378AE;
}

.selected-bg a {
color:#FFF;
font-style:normal;
font-weight:700;
text-decoration:none;
}

.titlebg a:hover,.catbg a:hover,.selected-bg a:hover {
text-decoration:underline;
} 

.message-sort, .message-sort a:hover {
color:#2D2D2D;
}

.message-sort a {
color:#3B5998;
} 

.message, #message, .prevwin {
color:#2D2D2D;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:8pt;
font-style:normal;
font-weight:400;
text-decoration:none;
}

.message a, .prevwin a {
background-color:transparent;
color:#900000;
font-style:normal;
font-weight:400;
text-decoration:none;
}

.message a:hover, .prevwin a:hover {
background-color:transparent;
color:#3B5998;
text-decoration:underline;
}

.message table {
width:auto;
margin-left:1em;
}

.prevwin table {
/*border: #fff solid thin;*/
}

.message table td {
border: #000 solid thin;
}

.droppageindex {
background-color:#EEE;
/*border:2px inset;*/
border:1px solid #B1BDC9;
color:#000;
float:left;
font-family:Verdana, Sans-Serif;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:5px;
}

table.tableselect {
background-color:#EEE;
color:#ccc;
font-family:Verdana, Helvetica, Sans-Serif;
font-size:10px;
padding-bottom:3px;
}

.droppages {
height:14px;
padding-left:1px;
padding-right:1px;
}

.droppages a {
color:#2D2D2D;
font-size:9px;
font-weight:400;
}

.highlight {
background-color:#FF3;
color:#000;
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:700;
}

.imgbg {
color:#FFF;
font-size:10px;
font-style:normal;
}

.imgcatbg {
color:#2D2D2D;
font-size:10px;
font-style:normal;
font-weight:700;
}

.imgtitlebg {
color:#FFF;
font-size:10px;
font-style:normal;
font-weight:700;
}

.imgwindowbg {
color:#3B5998;
font-size:9px;
font-style:normal;
}

.imgmenu {
color:#2D2D2D;
font-size:11px;
font-style:normal;
font-weight:700;
}

.quote {
background-color:#E8EBEF;
border:1px #34689A solid;
color:#000;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.code {
background-color:#CCC;
border:1px #34689A solid;
color:#000;
font-family:Courier, "Courier New", Serif;
font-size:14px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.editbg {
background-color:#FFFEDF;
border:1px #c00 solid;
color:#000;
font-family:Verdana, Helvetica, Arial, Sans-Serif;
font-size:11px;
font-style:normal;
font-weight:400;
padding:4px;
width:90%;
}

.forumjump {
background-color:#EEE;
border-bottom:1px dashed #D6B2FF;
border-top:1px dashed #D6B2FF;
color:#000;
font-weight:700;
}

.forumjumpcat {
background-color:#FFFEDF;
border-bottom:1px dashed #D6B2FF;
border-top:1px dashed #D6B2FF;
color:#000;
}

.forumjumpcatm {
background-color:#EEE8AA;
color:#000;
font-style:italic;
}

.forumjumpcatmf {
background-color:#EEE8AA;
border-bottom:1px dashed #C5AAEE;
color:#000;
font-style:italic;
}

.forumcurrentboard {
background-color:#F0FFF0;
color:#000;
font-weight:700;
}

#PMcontainer {
background-color:#EEEEEE;
border:0;
float:left;
margin-bottom:10px;
padding:0;
width:100%;
}

.boardcontainer {
background-color:#BBB;
border:0;
}

.displaycontainer {
background-color:#FFF;
padding:1px;
width:100%;
}

.postcontainer {
background-color:#D7DBEA;
padding:5px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

.post-userinfo {
background-color:#D7DBEA;
line-height:1.2em;
}

.navbarcontainer {
margin:0;
}

/* postbox, post, PM, calendar */
#dragcanvas {
border:0;
left:0;
position:relative;
top:0;
z-index:1;
}
#usersto {
width: 98%;
display: inline;
float: left;
}
#userscc, #usersbcc {
width: 98%;
display: none;
float: left;
}

textarea#message {
/*position: absolute;*/
top: 0px;
left: 0px;
z-index: 2;
padding: 5px;
margin: 0px;
visibility: visible;
}

div#dragbgw {
position: absolute;
top: 0px;
left: 460px;
width: 3px;
border: 0;
z-index: 3;
}
div#dragbgh {
position: absolute;
top: 142px;
left: 0px;
height: 3px;
border: 0;
z-index: 3;
}

img#dragImg1 {
position: absolute;
top: 0px;
z-index: 4;
width: 3px;
cursor: e-resize;
}
img#dragImg2 {
position: absolute;
left: 0px;
z-index: 4;
height: 3px;
cursor: n-resize;
}

.deftpal {
border:0;
cursor:pointer;
float:left;
font-size:5px;
height:9px;
margin-bottom:1px;
margin-right:1px;
width:10px;
}

.npf_txt {
font-size:9px;
margin:3px 0 0;
padding:0;
text-align:center;
width:56px;
}

div.textdecor {
float:left;
width:115px;
}

div.fontface {
float:left;
text-align:center;
width:162px;
}

div.palettebox {
float:left;
height:20px;
margin-top:1px;
padding-left:1px;
padding-top:1px;
width:66px;
}

div.palbox_left {
float:left;
height:22px;
width:91px;
}

div.palbox_right {
float:right;
height:22px;
padding-left:1px;
width:23px;
}

div#bullets {
background-color:#CCC;
border:1px solid #666;
display:none;
left:345px;
padding:2px;
position:absolute;
text-align:center;
top:-22px;
width:63px;
}

#bullets img {
background-color:#CCC;
cursor:pointer;
height:8px;
margin:3px;
width:8px;
}

/*div#codelang {
background-color:#CCC;
display:none;
left:230px;
padding:0;
position:absolute;
top:-22px;
width:92px;
}

div#codesyntax {
font-size:9px;
margin:0;
}*/

#fontface {
font-size:9px;
margin-left:2px;
margin-right:1px;
margin-top:2px;
width:113px;
}

#fontsize {
font-size:9px;
margin-left:1px;
margin-right:2px;
margin-top:2px;
width:39px;
}

div.txtalgn {
float:left;
width:92px;
}

.leftleft {
float:left;
text-align:left;
}

div.left99 {
float:left;
width:99%;
}

div.left440 {
float:left;
width:440px;
}

div.left437 {
float:left;
width:460px;
}

div.chrwarn {
float:left;
text-align:left;
width:315px;
}

div.chrsize {
float:left;
text-align:right;
width:127px;
}

input.chrwarn {
background-color:#FEFEFE;
border:0;
color:#304B58;
font-size:11px;
font-style:normal;
font-weight:400;
padding:1px;
width:40px;
}

input.chrsize {
background-color:#FEFEFE;
border:0;
color:#304B58;
font-size:11px;
font-style:normal;
font-weight:400;
padding:1px;
width:15px;
}

div#spell_container {
float:left;
}

/* height, width, padding */

table.pad_2px td, .padd_2px {
padding: 2px;
}
table.pad_3px td, .padd_3px {
padding: 3px;
}
table.pad_4px td, .padd_4px {
padding: 4px;
}

table.pad_8px td, .padd_8px {
padding: 8px;
}

table.pad_0 td, .padd_0 {
padding:0;
}


.h_18px {
height:18px;
}

.h_15px {
height:15px;
}
.h_20px {
height:20px;
}
.h_22px {
height:22px;
}
.h_23px {
height:23px;
}
.h_25px {
height:25px;
}
.h_30px {
height:30px;
}
.h_40px {
height:40px;
}
.h_50px {
height:50px;
}
.h_60px
height:60px;
}
.h_70px {
height:70px;
}
.h_80px {
height:80px;
}

#ImageAlert {
visibility:hidden;
position:fixed;
background-color:#FFF;
width:200px;
top:30%;
left:41%;
z-index: 1000;
}

.yabb_rss {
float:right;
width:20px;
height:20px;
text-align:center;
padding:4px 5px 0 0;
display:inline;
}

.yabb_searchbox {
float:right;
width:180px;
margin:1px !important;
padding:1px !important;
text-align:center;
display:inline;
background-color:#EEEEEE;
border:#BBBBBB solid 1px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}

.yabb_searchbox:hover, .yabb_searchbox:focus {
background-color:#F5F5F5;
}

.yabb_searchbox input[type="text"] {
color:#999;
width:150px;
font-size:13px !important;
margin-left:0px;
}

.yabb_searchbox input:hover, .yabb_searchbox input:focus {
color:#000;
}

.yabb_main {
width:98%; 
margin:0 auto;
text-align:left;
}

.yabb_forumjump {
width:96%;
margin-left:auto;
margin-right:auto;
text-align:right;
padding-top:10px;
}

.info-center, .board-perms {
line-height:1.4em;
}

.clear {
clear:both;
}

.ongif {
margin-left:4px;
margin-right:6px;
vertical-align:middle;
}

.grpcolors {
font-size:10px;
float: left;
width: 49%;
}
.mctitle {
float:left;
width:100%;
height:21px;
text-align:center;
padding-top:3px;
}

.pgindex {
float:left;
height:21px;
margin:0px;
margin-top:2px;
}

.bold {
font-weight:bold;
}
.under, .u {
text-decoration:underline;
}

.cursor {
cursor:pointer;
}

.pass_box {
float:left; width: 150px; height: 20px; text-align:left;
}

.pstrength-bar {
border: 1px solid #FFFFFF; height: 4px;
}

#cappasswrd1, #cappasswrd2, #cappasswrd1_char, #cappasswrd2_char {
clear:left; color: red; font-weight: bold; display: none;
}

#password-strength-meter {
background: transparent url(./default/empty_bar.gif) repeat-x center left; height: 4px;
}

.borderbox {width: 500px; margin-bottom: 8px; margin-left: auto; margin-right: auto;}

.contactleft {
float: left; clear: left; width: 30%; padding-top: 5px; padding-bottom: 5px;}

.contactright {
float: left; width: 70%; padding-top: 5px; padding-bottom: 5px;}


/* Soft coded css buttons */
.buttonleft {
	padding: 0px 0px 0px 6px;
	background-image: url(../../Buttons/Button22big_left.png);
}
.buttonright {
	padding: 0px 6px 0px 0px;
	background-image: url(../../Buttons/Button22big_right.png);
}
.buttonimage {
	padding: 0px 0px 0px 25px;
	background-position: 0px 0px;
}
.buttontext {
	position: relative;
	top: 5px;
	left: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal !important;
	font-style: normal;
}
/* Soft coded css buttons end */

.cssbutton1 {
height: 20px; width: 1px; margin: 0px; padding: 0px; vertical-align: top; display: inline-block;
}
.cssbutton2 {
height: 20px; border: 0px; margin: 1px 1px; background-position: top left; background-repeat: no-repeat; text-decoration: none; font-size: 18px; vertical-align: top; display: inline-block;
}
.cssbutton3 {
height: 20px; border: 0px; margin: 0px; background-position: top right; background-repeat: no-repeat; text-decoration: none; font-size: 18px; vertical-align: top; display: inline-block;
}
.cssbutton4 {
height: 20px; border: 0px; margin: 0px; background-repeat: no-repeat; vertical-align: top; text-decoration: none; font-size: 18px; display: inline-block;
}
.cssbutton5 {
height: 20px; border: 0px; margin: 0px; padding: 0 5px 0 0; text-align: left; text-decoration: none; vertical-align: top; white-space: nowrap; display: inline-block;
}

.tt {
font-family: Courier, monospace;
}

.littlebody {
width:800px
}

/* Post and Thread Tools */
.windowbg td.post_tools {
background-image: url(./default/tabtitle.png);
/*background-position: bottom left;*/
background-repeat: repeat-x;
height: 100%;
padding: 3px;
border-top: 0;
border-bottom: 0;
border-left: 1px;
border-right: 1px;
border-style: solid;
border-color: #DDD;
padding-right: 10px;
}

.windowbg2 td.post_tools,.tabtitle td.post_tools,.tabtitle-bottom td.post_tools {
background-image: url(./default/tabtitle.png);
/*background-position: bottom left;*/
background-repeat: repeat-x;
height: 100%;
padding: 3px;
border-top: 0;
border-bottom: 0;
border-left: 1px;
border-right: 1px;
border-style: solid;
border-color: #EDEFF4;
padding-right: 10px;
}

.post_tools_menu {
background-color: #EEE;
position: absolute;
display: none;
margin:0px;
padding:1px;
border: 1px solid #195392;
list-style: none;
text-indent: 0px;
top: 11px;
right: 0px;
min-width:104px;
}

.post_tools_menu li {
background-color: #4378AE;
white-space: nowrap;
font-size: 10px;
margin-left: 0px;
padding: 3px;
list-style: none;
text-indent: 0px;
text-align: left;
font-style: normal;
font-size: 11px;
color: #FFF;
font-weight: bold;
}

.post_tools_a a{
font-weight: bold;
font-style: normal;
font-size: 11px;
font-family: Verdana, Arial, Sans-Serif;
color: #FFF;
}

.post_tools_a a:hover {
color: #FFF;
text-decoration:none;
}

.post_tools_menu li:hover {
background-color:#EEE;
color: #2D2D2D;
}

.post_tools_menu li a {
color: #FFF;
text-decoration:none;
font-weight: bold;
}

.post_tools_menu li:hover a{
color: #2D2D2D;
}

.post_tools_menu li:hover a:visited{
color: #2D2D2D;
}

.post_tools_menu li a:hover {
color: #2D2D2D;
text-decoration:none;
}

.post_tools_menu li a:visited {
color: #FFF;
text-decoration:none;
}
/* End Post and Thread Tools */

.showcolor {
float: left; width: 15px; height: 15px; margin-right: 1px; margin-bottom: 1px; border: 0px; font-size: 5px; cursor: pointer;}
}
.defpal {
border:0px;
float:left;
font-size:5px;
height:15px;
margin-bottom:1px;
margin-right:1px;
text-align:center;
width:15px;
}

.defpalx {
float: left;
text-align: center; 
width: 15px;
height: 15px; 
margin-right: 1px;
margin-bottom: 1px;
border: 0px;
font-size: 5px;
}

.defpal_b {
border:0;
font-size:5px;
height:13px;
margin:0;
padding:0;
vertical-align:middle;
width:13px;
}

.deftrows {
float: left; 
width: 15px; 
height: 15px; 
margin-right: 1px; 
margin-bottom: 1px; 
border: 0px; 
font-size: 5px; 
cursor: pointer;
}

#feature_status_1, #feature_status_4, #feature_status_7 {
/*background-color:#DEE4EC;*/
/*color:#304B58;*/
font-size:12px;
font-style:normal;
font-weight:400;
}

.calout_left {float: left; width: 30%; padding-top: 1px; padding-bottom: 1px; text-align: left;}
.calout_right {float: left; width: 70%; padding-top: 1px; padding-bottom: 1px; text-align: right;}

.memberlist_td {
/*border: 1px; border-style: outset; */
cursor: pointer; text-align:center;
}
.norm {
font-style:normal;}

.pages {height: 14px;
padding-left: 2px !important;
padding-right: 2px !important;
font-size: 9px;}

.imcontact {
float: left; width: 99%; padding-top: 5px; margin-top: 2px; text-align: right;}

.imcontact_left {
float: left; text-align: left; padding: 2px; margin: 2px;
}
.imcontact_right {
float: right; text-align: right; padding: 2px; margin: 2px;
}

.minical_border {
border:1px solid #B1BDC9;
}
.cal_row1 {
height:23px;
}

.cal_row2 {
height:26px;
}

/* ---- Don't style some input fields: Quick search, palette, remaining characters, Postbox font face and size ---- */

.yabb_searchbox input,input[name="viewcode"] {
background-color: transparent !important;
border: 0 !important;
padding: 0 !important;
}

input[name="msgCL"],input[name="txtsize"] {
background-color: transparent !important;
} 

select[name="fontface"],select[name="fontsize"] {
padding:0 !important;
}

.zodiac {
font-size: 18px;
text-align: center;
margin-bottom: 3px;
cursor: pointer;
}

.tabmenu span.tabstyle {
font-size: 12px;
white-space: nowrap;
cursor: auto;
margin:0 1px 0 0;
padding:4px 8px; text-align:center;
}

.tabmenu input.edittab {
font-family:Arial,Sans-Serif;
float:left;
vertical-align: top;
border-radius:0;
background-color: transparent;
border:0;
font-size: 12px;
white-space: nowrap;
cursor: auto;
margin:0 1px 0 0;
padding:4px 8px;
text-align:center;
color:#bbb;
}

.tabmenu input.editttab_img {
float:left;
background-color: transparent;
border:0; border-radius:0;
vertical-align: middle;
padding:0;
}

.codebox {
width:90%;
background-color:#4378AE;
padding:2px 6px 2px 2px;
border:1px #34689A solid;
border-bottom:0px;
color:#eee;
font-weight: bold;
height:20px;
line-height:20px;
}

.codebox div {
float:right;
} 

.media_iframe {
frameborder:0;
height: 326px;
width:400px;
 }
 
.help_dd {
color: #0099CC;
padding-bottom:.5em;
}

.help_attn {
color: #0099CC;
}

.help_attn_strong {
color: #ff0000;
}

h4.help {
text-decoration:underline;
margin-bottom:0;
}