<!DOCTYPE html>
<html lang="{yabb xml_lang}">
<head>
    <meta charset="{yabb mycharset}">
<!-- YaBB 2.7.00 $Revision$ -->
    <title>{yabb title}</title>
    <meta name="apple-mobile-web-app-title" content="{yabb title}">
    <meta name="description" content="Web Forum: {yabb title}" />
    {yabb style}
    <script type="text/javascript" src="{yabb html_root}/YaBB.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{yabb html_root}/element.js"></script>
    <![endif]-->
    <script type="text/javascript">
        {yabb javascript}
        {yabb javascripta}
    </script>
    {yabb syntax_js}
    {yabb grayscript}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="ImageAlert" class="center">
    <img style="position: absolute; top: -12px; right: -12px" src="{yabb images}/closebutton.png" alt="" onclick="HideAlert()" />
    <iframe id="ImageAlertIFrame" style="display: none; width: 100%; border: 0"></iframe>
    <img id="ImageAlertLoad" src="{yabb images}/loadbar.gif" style="display: none; margin: 20px auto;" alt="" />
    <div id="ImageAlertBody" style="display:none;"></div>
</div>
<div id="container">
    <div class="menutop" style="padding-left:1%;">
        <div class="small" style="line-height:2.6em; vertical-align: top;" id="yabbclock">{yabb time}</div>
        <div class="small" style="line-height:2.6em; vertical-align: top;">{yabb styleswitch}{yabb tempswitcher}{yabb lang_chooser}</div>
        {yabb searchbox}
        <span class="yabb_rss">{yabb rss}</span>
    </div>
    <header id="header">
        <div style="padding:4px"><a href="http://www.yabbforum.com"><img src="{yabb images}/yabblogo_27.png" alt="YaBB - Yet another Bulletin Board" title="YaBB - Yet another Bulletin Board" /></a></div>
        <div class="padd_4px" style="min-height:5em; line-height:1.5em">
            {yabb uname}<br />{yabb im}{yabb admin_alert}
            <br /><span class="small" style="vertical-align:bottom">{yabb newstitle}</span>
        </div>
    </header>
    <nav id="fixmenu" class="tabmenu">
        {yabb tabmenu}
        <div class="navmenu" id="navmen" style="display: none;">
            <img src="{yabb images}/back_to_top.png" id="navtotop" alt="{yabb fixtop}" title="{yabb fixtop}" onclick="toTop(0)" class="cursor" style="margin-top:5px;" />
        </div>
        <div class="vtop" style="width:100px; float:right">{yabb tabadd}</div>
        <div class="clear"></div>
    </nav>
    {yabb addtab}
    <div id="brcrumb" style="top: 0;">
        <div class="nav">{yabb boardlink} {yabb navigation} <a href="#bottom">{yabb bottom}</a></div>
    </div>
    <div class="yabb_main">{yabb main}
        <div class="yabb_forumjump">{yabb forumjump}&nbsp;</div>
    </div>
    <nav class="mainbottom" style="padding-left:1%; width:99%" id="bottom">{yabb navback}</nav>
</div>
<div class="copyright center" style="width: 100%">
    <br />
    {yabb copyright}<br />{yabb freespace}<br />
    {yabb debug}
    <br /><br />
</div>
{yabb high}
<script>
// add common gradient class
var gradcls = ["tabtitle", "tabtitle-sub", "tabtitle-bottom", "topper", "post_tools", "system-info", "newlinks",];
for (var j = 0; j < gradcls.length; j++) {
    var gradmain = document.getElementsByClassName(gradcls[j]);
    for (i = 0; i < gradmain.length; i++) {
        gradmain[i].classList.add('maingrad');
    }
}
</script>;
<script type="text/javascript" src="{yabb html_root}/ajax.js"></script>
{yabb news}
</body>
</html>
